# Ignore temporary files
*.tmp
.DS_Store
.*
!/.gitignore

# Ignore build output directory
build/
/build/
.idea/
.idea
.dart_tool
.android
/.gradle/
.gradle/
.gradle
.symlinks

# Ignore a specific file
secret.key